
# Environment variables
*.env

# Virtual environments
venv/
.venv/

__pycache__
.pytest_cache
.coverage
.DS_Store
.vscode/

# Logs
*.log

# Data
*.csv
*.json

# Terraform
.terraform
.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

